a,ul,li,form,iframe{
    text-decoration: none;margin: 0;padding: 0;list-style-type: none;
}
.head{
    width: 100%;height: 100px;background: rgba(49, 99, 118, 0.856);margin: 0 auto;margin-bottom: 715px;
}
.head>div{
    width: 1280px;height: 100px;background:rgba(255, 255, 255, 0.826);margin: 0 auto;
}
.head span{
    font-weight: bold;font-size: 2.75em;color: #39c5bb;line-height: 100px;padding-left: 6em;
}
.head>div>ul{
    width: 55%;display: flex;justify-content: space-around;height: 100%;align-items: center;float: right;font-size: 2em;
}

.unique1{
    width: 1280px;height: 100px;background: rgba(49, 99, 118, 0.856);margin: 0 auto;margin-bottom: 475px;
}
.unique2{
    width: 1280px;height: 100px;background: rgba(49, 99, 118, 0.856);margin: 0 auto;margin-bottom: 20px;
}
.unique3{
    width: 1280px;height: 100px;background: rgba(49, 99, 118, 0.856);margin: 0 auto;margin-bottom: 45px;
}
body{
margin: 0;padding: 0;cursor:url(../images/mouse.png),default;
}
.one{
    width: 100%;height: 1080px;margin: 50px auto;position: fixed;top: -4%;z-index: -1;background:url(../images/banner1.jpg) center center no-repeat;
    background-size:cover;
}
.two{
    width: 100%;height: 1080px;margin: 50px auto;position: fixed;top: -4%;z-index: -1;background:url(../images/banner2.jpg) center center no-repeat;
    background-size:cover;
}
.banner>div{
    width: 1280px;height: 1080px;margin: 0 auto;
}
a{
    color: #39c5bb;
}
.right1{
    width: 150px;height: 500px;position:fixed;background: rgba(0, 179, 255, 0.849);right:0%;top: 15%;
    box-sizing: border-box;
}
.right1::after{
    right:0%;top: 15%;position: fixed;
    display: inline-block;
    content: '';
    width: 42px;
    height: 28px;
    background: url(../images/x.jpg) no-repeat;cursor:not-allowed;
}
.right1 p{
    text-align: center;color: #ff0;font-size: 3.5em;margin: 0;font-weight: normal;
}
h5{
    font-size: 2em;color: #f00;text-align: center;margin: 0;margin-top: 50px;
}
h6,h6 a{
    font-size: 1.3em;color: #000;text-align: center;margin: 0;
}
.right2{
    width: 150px;height: 150px;position:fixed;background: rgba(255, 81, 81, 0.6);right:0%;top: 75%;border-radius: 75px;
}
.right2>div{width: 0;height: 0;position: relative;top: -50px;
    margin: 0 auto;margin-top: 75px;border: 20px solid #000;border-color:transparent transparent #0ff transparent ;border-left-width: 40px;
    border-right-width: 40px;border-bottom-width: 60px;

}
iframe{display: block;height: 350px;
    width: 1280px;margin: 0 auto;
}
.skills{
    width: 1050px;display: flex;justify-content: space-between;;align-items: center;height: 266px;margin: 0 auto;
}
.skills>div{
    width: 176px;height: 176px;background: #fff;border-radius: 35px;overflow: hidden;
}
.skills img{
    width: 176px;height: 176px;
}
.skills+div{
    width: 1165px;height: 70px;margin: 0 auto;display: flex;justify-content: space-between;;align-items: center;text-align: center;
    color: #fff;font-size: 2.25em;
}
.in_unique{
    height: 70px;width:calc(100% / 4);
}
/* .height350{
    height: 350px;
} */
#jump{
    font-size: 50px;position: relative;right: 25px;color: transparent;
}
.out{
    width: 100%;margin: 0 auto;background: #39c5bb;
}
.foot2{
    width:1280px;margin: 50px auto;background: #c1fbff;display: flex;justify-content: center;align-items: center;box-sizing: border-box;padding: 50px 0;
}
.foot2>div{
    width: 600px;background: rgba(255, 255, 255,0.6);border-radius: 8px;box-sizing: border-box;padding:0 50px;padding-bottom: 50px;
}
h1{
    font-size: 5em;color: #39c5bb;
}
input,textarea{
    border: none;outline: none;
}
input[type=text],textarea{
    width: 100%;
    height: 50px;
    border-radius: 9px;
    font-size: 1.75em;
    box-sizing: border-box;
    padding: 10px;font-weight: bold;
}
textarea{
    height: 200px;
}
input[type=button],input[type=submit]{
width: 180px;height: 50px;border-radius: 50px;background: #2ca0ff;font-size: 1.75em;word-spacing: 0.5em;color: #fff;
}
.right{
    text-align: right;
}
.write{
    background: skyblue;    box-sizing: border-box;padding:5px 30px;border-radius: 9px;color: #fff;
}
h2{
    text-align: right;font-size: 0.5em;font-weight: normal;
}
h3{
    padding-left: 25px;box-sizing: border-box;
}
.content{
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}
#ins{
    word-wrap: break-word;

}
.login{
    border-radius: 11px;
    margin: 0 auto;
    width: 550px;
    background: rgba(129, 129, 129, 0.678);
    box-sizing: border-box;padding: 10px 20px;
color: #000;
    font-size: 22px;

    margin-top: 30px;
}
#loginbutton{
font-size: 22px;
}
.loginp{
    text-align: center;
}
.foot1{
    width:1280px;margin: 0 auto;background: #8dc3c7;display: flex;justify-content: center;align-items: center;box-sizing: border-box;padding: 50px 0;
    font-size: 3em;height: 200px;
}
.divcontent{
    width: 1280px;margin: 0 auto;background: rgba(48, 255, 165, 0.6);
}
.imgDiv{display: flex;
    width: 1280px;margin: 0 auto;flex-wrap: wrap;justify-content: space-between;box-sizing: border-box;
}
.imgDiv div{
    display: flex;
    width: 1280px;margin: 0 auto;flex-wrap: wrap;justify-content:space-around;box-sizing: border-box;background: rgba(194, 245, 255, 0.911);margin-bottom: 50px;
}
.imgDiv div:nth-child(odd){
    background: rgba(196, 255, 234, 0.911);
}
.imgDiv img{
    width: 242px;height: 342px;
margin: 75px 0;
}
#imgUnique{
    width: 1280px;height: 720px;
}

.through{
    text-decoration: line-through;    cursor:not-allowed;
}
.intro{
    width: 1280px;margin: 0 auto;height: 602px;border-radius: 50px;overflow: hidden;display: flex;
}
.intro>div:nth-child(1){
    width: 602px;height: 602px;background: #39c5bcfd;
}
.intro>div:nth-child(2){
width: 678px;height: 602px;background: #fffffffa;display: flex;word-wrap: break-word;flex-wrap: wrap;align-items: center;
}
h4{
    text-align: center;color: #fff;z-index: 2;font-size: 3em;text-align: center;line-height: 250px;margin: 0;word-spacing: 0.25em;
}
.intro>div:nth-child(1)>div{
    height: 1280px;
    background: url(../images/me.png)no-repeat;
    box-sizing: border-box;
}
.intro img{
    width: 50px;
}
.intro p{
    width: 1280px;text-align: center;font-size: 2.25em;
}
.outfoot{
    margin: 0 auto;width: 100%;background: #8dc3c7;
}